torchvision==0.15.2
torch==2.0.1
numpy
pandas
nltk
streamlit
ipython
#".[source-pt]"  after git clone 'git+https://github.com/deepdoctection/deepdoctection.git' && cd deepdoctection
tesseract
# Poppler
xgboost
lightgbm
scikit-learn==1.1.2

