torchvision==0.15.2
tensorflow==2.12.0
torch==2.0.1
numpy
pandas
scikit-learn
nltk
streamlit
".[source-pt]" # after git clone 'git+https://github.com/deepdoctection/deepdoctection.git' && cd deepdoctection
open-cv
tesseract
# Poppler
xgboost
lightgbm
scikit-learn==1.1.2

